@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.cart {
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
  height: auto;
  overflow: hidden;
}

.cart .material-icons {
  position: relative;
  top: 4px;
  z-index: 1;
  font-size: 24px;
}

.cart .count {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  font-size: 11px;
  border-radius: 50%;
  background: #d60b28;
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: block;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}









.containerr {
  max-width: 380px;
  margin: 30px auto;
  overflow: hidden;
}

.printer-top {
  z-index: 1;
  border: 6px solid #666666;
  height: 6px;
  border-bottom: 0;
  border-radius: 6px 6px 0 0;
  background: #333333;
}

.printer-bottom {
  z-index: 0;
  border: 6px solid #666666;
  height: 6px;
  border-top: 0;
  border-radius: 0 0 6px 6px;
  background: #333333;
}

.paper-container {
  position: relative;
  overflow: hidden;
  height: 467px;
}

.paper {
  background: #ffffff;
  height: 447px;
  position: absolute;
  z-index: 2;
  margin: 0 12px;
  margin-top: -12px;
  animation: print 1800ms cubic-bezier(0.68, -0.55, 0.265, 0.9) ;
}

.main-contents {
  margin: 0 12px;
  padding: 24px;
}

/* Paper Jagged Edge */
.jagged-edge {
  position: relative;
  height: 20px;
  width: 100%;
  margin-top: -1px;
}

.jagged-edge:after {
  content: "";
  display: block;
  position: absolute;
  /* bottom: 20px; */
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(45deg, transparent 33.333%, #ffffff 33.333%, #ffffff 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #ffffff 33.333%, #ffffff 66.667%, transparent 66.667%);
  background-size: 16px 40px;
  background-position: 0 -20px;
}

.success-icon {
  text-align: center;
  font-size: 48px;
  height: 72px;
  background: #359d00;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  margin: 16px auto;
  color: #fff;
}

.success-title {
  font-size: 22px;
  text-align: center;
  color: #666;
  font-weight: bold;
  margin-bottom: 16px;
}

.success-description {
  font-size: 15px;
  line-height: 21px;
  color: #999;
  text-align: center;
  margin-bottom: 24px;
}

.order-details {
  text-align: center;
  color: #333;
  font-weight: bold;
}

.order-details .order-number-label {
  font-size: 18px;
  margin-bottom: 8px;
}

.order-details .order-number {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 48px;
  padding: 8px 0;
  margin-bottom: 24px;
}

.order-footer {
  text-align: center;
  line-height: 18px;
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #999;
}

@keyframes print {
  0% {
    transform: translateY(-90%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes print {
  0% {
    -webkit-transform: translateY(-90%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

@-moz-keyframes print {
  0% {
    -moz-transform: translateY(-90%);
  }
  100% {
    -moz-transform: translateY(0%);
  }
}

@-ms-keyframes print {
  0% {
    -ms-transform: translateY(-90%);
  }
  100% {
    -ms-transform: translateY(0%);
  }
}






















.headerr {
  background-color: #2e6c73;
  color: white;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.table-users {
  border: 1px solid #2e6c73;
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 800px;
}

table {
  width: 100%;
}

table td,
table th {
  color: #1f5359;
  padding: 10px;
}

table td {
  text-align: center;
  vertical-align: middle;
}

table td:last-child {
  font-size: 0.95em;
  line-height: 1.4;
  text-align: left;
}

table th {
  background-color: #9fd1d5;
  font-weight: 300;
}

table tr:nth-child(2n) {
  background-color: white;
}

table tr:nth-child(2n+1) {
  background-color: #b8e0e3;
}

@media screen and (max-width: 700px) {
  table,
  tr,
  td {
    display: block;
  }

  td:first-child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
  }

  td:not(:first-child) {
    clear: both;
    margin-left: 100px;
    padding: 4px 20px 4px 90px;
    position: relative;
    text-align: left;
  }

  td:not(:first-child):before {
    color: #6ab8be;
    content: '';
    display: block;
    left: 0;
    position: absolute;
  }

  td:nth-child(2):before {
    content: 'Name:';
  }

  td:nth-child(3):before {
    content: 'Email:';
  }

  td:nth-child(4):before {
    content: 'Role:';
  }

  td:nth-child(5):before {
    content: '';
  }

  tr:first-child {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .headerr {
    background-color: transparent;
    color: #99d7de;
    font-size: 2em;
    font-weight: 700;
    padding: 0;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }

  .img {
    border: 3px solid #b8e0e3;
    height: 100px;
    margin: 0.5rem 0;
    width: 100px;
  }

  td:first-child {
    background-color: #c8edf1;
    border-bottom: 1px solid #99d7de;
    border-radius: 10px 10px 0 0;
    position: relative;
    top: 0;
    transform: translateY(0);
    width: 100%;
  }

  td:not(:first-child) {
    margin: 0;
    padding: 5px 1em;
    width: 100%;
  }

  td:not(:first-child):before {
    font-size: .8em;
    padding-top: 0.3em;
    position: relative;
  }

  td:last-child {
    padding-bottom: 1rem !important;
  }

  tr {
    background-color: white !important;
    border: 1px solid #8ac3c8;
    border-radius: 10px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0;
    padding: 0;
  }

  .table-users {
    border: none;
    box-shadow: none;
    overflow: visible;
  }
}






















#snav.en {
  left: 0;
  text-align: left;
}
#snav.en  li span {
  left: -100px;
}
#snav.en li a:hover span {
  left: 35px;
}

/* RTL CSS */
#snav.ar {
  right: 0;
  text-align: right;
}
#snav.ar  li span {
  right: -100px;
}
#snav.ar li a:hover span {
  right: 35px;
}

/* main SideNav.css styles */
#snav {
  position: fixed;
  top:13%;
  z-index: 9999;
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
}
#snav ul {
  list-style: none;
  margin-left: 5px;
}
#snav * {
  margin: 0;
  padding: 0;
  outline: 0;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#snav li {
  margin-bottom: 10px;
}
#snav li a {
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}
#snav .fa {
  vertical-align: middle;
  font-size: 18px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  position: relative;
  z-index: 4;
}
#snav li span {
  font-size: 15px;
  vertical-align: middle;
  height: 35px;
  line-height: 35px;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  padding: 0 15px;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 3;
}
#snav li a:hover .fa {
  transform: rotate(720deg);
}
#snav li a:hover span {
  visibility: visible;
}

/* colors styles */

/* menu items title background used for browsers not supporting :nth-child */
#snav li span {
  background-color: #555;
}
/* icons color and background before hover  */
#snav li .fa {
  background-color: #EEE;
  color: #555
}
/* icons hover color */
#snav li a:hover .fa {
  color: #fff;
}
/* repeated colors from 1 to 10 each hover color repeated after 10 menu items */
#snav li:nth-child(10n+1) span, #snav li:nth-child(10n+1) a:hover .fa {
  background-color: #8350DD;
}
#snav li:nth-child(10n+2) span, #snav li:nth-child(10n+2) a:hover .fa {
  background-color: #4EC5DB;
}
#snav li:nth-child(10n+3) span, #snav li:nth-child(10n+3) a:hover .fa {
  background-color: #3DC25D;
}
#snav li:nth-child(10n+4) span, #snav li:nth-child(10n+4) a:hover .fa {
  background-color: #99BE24;
}
#snav li:nth-child(10n+5) span, #snav li:nth-child(10n+5) a:hover .fa {
  background-color: #38c;
}
#snav li:nth-child(10n+6) span, #snav li:nth-child(10n+6) a:hover .fa {
  background-color: #ff0000;
}
#snav li:nth-child(10n+7) span, #snav li:nth-child(10n+7) a:hover .fa {
  background-color: #000;
}
#snav li:nth-child(10n+8) span, #snav li:nth-child(10n+8) a:hover .fa {
  background-color: #F1A111;
}
#snav li:nth-child(10n+9) span, #snav li:nth-child(10n+9) a:hover .fa {
  background-color: #777;
}
#snav li:nth-child(10n+10) span, #snav li:nth-child(10n+10) a:hover .fa {
  background-color: #30555C;
}



.otpHeader {
  background-color: #eaeaea;
  margin: auto;
  width: 200px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  color: #2a2a2a;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: sans-serif;
}

.otpTitle {
  margin-top: 20px;
  font-size: 1.1em;
  font-family: sans-serif;
  color: #505050;
}

.otperror {
  color: red;
  margin-top: 10px;
}

.resendSec {
  margin-top: 15px;
}

.resendText {
  color: #4f4f4f;
  display: inline-block;
  margin-right: 20px;
  font-size: 0.9em;
  font-family: sans-serif;
}

.otpTimer {
  font-size: 0.9em;
  color: red;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  text-align: center;
}

.resendButton {
  display: inline-block;
  background-color: #ffffff;
  color: #044680;
  font-weight: bold;
  border: 2px solid #044680;
  border-radius: 5px;
}

.disabledResend {
  border: 2px solid #bdbbbc;
  color: #bdbbbc;
}

.confirmButton {
  background-color: #02bb0b;
  color: #ffffff;
  padding: 10px;
  font-weight: bold;
  border: 0px;
  border-radius: 5px;
}

.issuesText {
  color: #a3a3a3;
  margin-top: 8px;
  font-size: 0.9em;
}

.emailLink {
  color: #044680;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.content {
  text-align: center;
}

.prompt {
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
}

.digit-group input {
  width: 200px;
  height: 50px;
  background-color: 'transparent';
  border: none;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #505050;
  font-weight: bold;
  margin: 0 2px;
  border-bottom: 1px solid #a3a3a3;
}

.digit-group input::placeholder { 
  font-size:0.6em;
   color:#a3a3a3;
}
.digit-group input:invalid {
  border: 1px solid red;
  background-color: #ffdddd;
}
#mobileNumber{
   font-size:0.8em;
   font-family: sans-serif;
   color: #a3a3a3;
   margin-top:5px;
}
.rule {
  border: 0.5px solid #eaeaea;
  margin-top: 15px;
  margin-bottom: 10px;
}

.otpbtndisabled {
  background-color: #c1e0c2;
}





